* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Playfair_Display';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}
body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(135deg, #152131 0%, #293647 100%);
  background-attachment: fixed;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}
h1, h2, h3, h4, .title-font {
  font-family: 'Playfair_Display', serif;
}
html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e;
}

::-webkit-scrollbar-thumb {
  background: #c5a059;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c5a059;
}